.level-select-box {
    background-color: #878487;
    border:10px solid black;
}

.level {
    background-color: #262326; 
    border:10px solid black;
}

.level:hover {
    background-color: #ee1313;
}

.title {
    width: 100%;
}

.decor-img {
    border:5px solid black;
    width: 60%;
}