.title {
    width: 50%;
}

.click-to-start-img {
    width: 80%;
}

.start-div {
    background-color: #878487;
    border:10px solid black;
}

.start-div:hover {
    background-color: #ee1313;
}

.robot-img {
    border:4px solid black;
    width: 10%;
}